
$font_text: "Roboto", sans-serif;
$font_title: "Roboto Slab", serif;
$fontsize_title: 1.5rem;
$fontsize_text: 1.125rem;
$margin_page: 1.5rem;


:root{
  font-family: $font_text;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.title {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
 
}


body {
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/*inicio header*/
.cover {
  background-image: url('../images/cover.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 2rem 1rem;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: #0271bc;
  z-index: 100;
}

.title{
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  bottom: 20px;
  color: white;
  padding-bottom: 20px;
  margin-bottom: 100px;
 }
.p_cover {
  font-size: $font_text;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 90px;
  bottom: 2px;
  color: white;
  opacity: 0.8;
  max-width: 28ch;
}

.icon-scroll-down{
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  position: absolute;
  margin-top: 2rem;
  z-index: 2;
  bottom: 20px;
 }

/*fin header*/



/*inicio main*/
main {
   margin-top: 40px;
}


.insomnia_tips_ligth_blu {
  margin-left: 15px;
  color: #8ccbea;
  font-size: 0.875rem;
 }

h2 {
  margin-left: 15px;
  $fontsize_title: 1.5rem;
  font-family: $font_title;
  margin-bottom: 20px;
  margin-top: 15px;
}
.insomnia_p {
  margin-left: 15px;
  font-size: $font_text;
  font-family: $font_text;
  margin-bottom: 30px;
}

.button_go {
  margin-left: 15px;
  width: 70px;
  height: 40px;
  border: solid #f26002;
  border-radius: 50px;
  margin-bottom: 25px;
  font-size: 1.25rem;
  color:#f26002;
  font-family: $font_text;
  font-weight: bold;

}

/*inicio section 3 reasons*/
.reasons {
  font-family: $font_text;
  background-color: #eff9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  line-height: 25px;
  padding-bottom: 50px;
}
.purchase {
  margin-left: 0;
}

.article .title{
    font-size: $font_title;

  }

  h3{
    $fontsize_title: 1.125;
    font-family: $font_title;
  }
.paragraph {
  margin-bottom: 50px;
}
.more {
  background-color: #f26002;
  color: white;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 50px;
  border: solid #f26002;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
  text-decoration: none;
}
/*fin main*/


/*inicio footer*/
footer {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  background-color: #304268;
  color: white;
  
}
.icon-scroll-header {
  background-color: white;
  border-radius: 80px;
  padding: 6px;
  position: relative;
  top: -50px;
  z-index: 10; 
 }

.link {
  color: white;
  font-family: $font_text;
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
   }

.articles  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-bottom: 30px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
}

.copy {
  font-size: 0.75rem;
  padding: 5px;
  line-height: 25px;
}
/*fin footer*/