<a class="icon-scroll-header" href="#header"
  ><img src="./images/ico-arrow.svg" alt="Ir al header" />
</a>
<section class="organize">
  <section class="articles">
    <a class="link" href="https://adalab.es/">ARTICLES</a>
    <a class="link" href="https://adalab.es/">BOOKS</a>
    <a class="link" href="https://adalab.es/">EVENTS</a>
    <a class="link" href="https://adalab.es/">REASONS</a>

    <a class="link" href="https://adalab.es/">TIPS</a>
  </section>
  <section class="social">
    <a class="link" href="https://adalab.es/">TWITTER</a>
    <a class="link" href="https://adalab.es/"> INSTAGRAM</a>
    <a class="link" href="https://adalab.es/"> MASTODON.SOCIAL</a>
  </section>
  <section class="copy">&COPY; 2022 <br />we 🧡 components</section>
</section>
