* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.roboto-slab- {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 3rem;
  font-style: normal;
}


.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1rem;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}